# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Email Configuration (SMTP)
# Sử dụng Gmail: Cần tạo App Password tại https://myaccount.google.com/apppasswords
EMAIL_USER=
EMAIL_PASS=
